<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <meta-data
            android:name="io.github.andrealtb.coloroslyrics.NPATCH_EMBEDDED"
            android:value="true"
            tools:replace="android:value" />
        <meta-data
            android:name="io.github.andrealtb.coloroslyrics.PROVIDER_DEBUG_ENABLED"
            android:value="true"
            tools:replace="android:value" />
    </application>
</manifest>
